body{
    margin-top: 100px;
}

ul li{
    border: 1px solid grey;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h1{ text-align: center;}
.icon {
    margin-left: 10px;
  }
ul li input{
    flex:auto;
}